/* Source CSS. Run `npm run minify-css` to regenerate canvascreator.min.css */
/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, rgb(248, 250, 252, 0.9), rgb(62, 65, 72, 0.9));
  /*background:rgb(248, 250, 252, 0.9);*/
  min-height: 100vh;
  color: #101828;
  margin: 0;
  padding: 20px;
}

#canvasContainer {
  width: 350px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #101828;
  font-size: 1rem;
  margin-bottom: 10px;
}

p,
ul {
  font-size: 1rem;
  max-width: 800px;
  margin: 0 auto 10px auto;
  text-align: left;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  gap: 10px;
}

.header a {
  text-decoration: none;
  color: #969696;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Help Icon Styling */
.help-icon {
  color: #101828;
  padding: 0px 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
}

/* Tooltip Box */
.help-tooltip {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 70px;
  left: 50%;
  width: 250px;
  background: rgb(255, 255, 255, 0.9);
  color: #333;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.4;
}

.help-tooltip ul {
  padding-left: 15px;
}

/* Show Tooltip on Hover */
.help-container:hover .help-tooltip {
  display: block;
}

/* Tool Container */
#toolContainer {
  background: white;
  padding: 5px 10px;
  max-width: 100%;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
}

#ToolsTitle {
  background-color: transparent;
  color: #101828;
  padding: 0px 10px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#canvasToolGroup,
#colorPalette {
  position: relative;
  display: inline-block;
}

.colorSwatchGroup {
  display: none;
  position: absolute;
}

#canvasToolGroup:hover .canvas-tools,
.colorSwatchGroup:hover {
  display: block;
}

svg {
  touch-action: manipulation;
  /* Prevents double-tap zoom */
}

/* Container */
#canvasCreator {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 1020px;
  height: 750px;
  margin-top: 20px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Form Elements */
#localeSelector,
#canvasSelector {
  display: flex;
  margin: 2px 0;
}

#localeSelector>select {
  padding: 2px;
  border: 1px solid #263982;
  border-radius: 5px;
  height: 1.5rem;
  width: 80px;
  cursor: pointer;
}

#canvasSelector>select {
  padding: 2px;
  border: 1px solid #263982;
  border-radius: 5px;
  height: 1.5rem;
  width: 160px;
  cursor: pointer;
}

/* Buttons */
.canvas-tools {
  background: rgb(255, 255, 255, 0.9);
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 20;
  border-radius: 8px;
}

.canvas-tools button {
  background: transparent;
  color: #263982;
  border: none;
  padding: 12px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.canvas-tools:hover button {
  display: block;
}

/* Metadata Form */
#metadataForm {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 300px;
}

#metadataForm input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#metadataForm button {
  width: 100%;
  padding: 10px;
  background: #1a3987;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#metadataForm button:hover {
  background: #005bb5;
}

/* Color Palette */
#colorPalette {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  z-index: 10;
}

.colorSwatch {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid #1a3987;
  cursor: pointer;
  transition: transform 0.2s;
  display: block;
}

.colorSwatch:hover {
  transform: scale(1.1);
}